.active{
  display: inline-block;
}
.back-to-top-button {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  animation: fadeIn 200ms ease-in-out 300ms both;
  cursor: pointer;
  z-index: 10;
}
.opacity-hover{
  opacity: .4;
}
.opacity-hover:hover{
  opacity: 1 !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (orientation: landscape) and (max-height: 400px){
  .back-to-top-button{
    bottom: 4rem;
    right: 2rem;
  }
}