.cart-container{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    ),
    url("../../images/page_bgs/snow2_bg.jpg");
  background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.cart-title{
  color: white;
}
.cart-table{
  background-color: white;
}
.pointer{
  cursor: pointer;
}
.row-image{
  height: 45px;
  width: 45px;
}
.rel{
  position:relative;
}
.empty-cart{
  /* position:relative; */
  top: 100;
  left:50;
  /* transform: translate(-50%,-50%); */
  color: rgba(150, 148, 148, 0.432);
  z-index: 1001;
}