.app-main{
  /* background-color: lightslategray; */
  height:calc(100vh - 3.5rem);
  /* height:100vh; */
  display:flex;
  margin-top:3.5rem;
  /* padding-top:3.5rem; */
  /* overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;   */
  /* padding-bottom: 2.5rem; */
  /* padding-top:3.5rem; */
  /* height: calc(100vh - 6rem); */
}
.app-main::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
/* .main-content{
  flex: 1 0 auto;
} */