.landing-header{
    z-index: 1;
    background-color: rgba(116, 112, 112, 0.95);
}
.cart-button{
    height: 20px;
    width: 20px;
    background-image: url("../images/logos_icons/cart_icon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}