.text{
    color:red;
    /* height: calc(.33*100vh); */
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
.bg{
    height: calc(.65*100vh);
    width: 100vw;
    /* position: relative; */
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-1{
    height: 75vh;
    background-image: url('../images/backgrounds/BP_landscape_3.jpg');
}
.text-1{
    height: 25vh;
}
.bg-2{
    background-image: url('../images/backgrounds/BP_landscape_4.jpeg');
}
.bg-3{
    background-image: url('../images/backgrounds/BP_landscape_1.jpg');
}
