.landing-top{
  /* height: 200vh; */
}
/* 
.text{
  color:white;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.685),
    rgba(0, 0, 0, 0)

    
  );
}
.left-text{
  height:200vh;
}
.right-text{
  height:200vh;
}
.parallax-container{
  height: 100vh;
  width: calc(100vw - 8px);
  
}
.img{
  position:fixed;
}
.bg{
  height:100%;
  width:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-1{
  background-image: url('../../images/backgrounds/BP_landscape_9.jpg');
  
}
.horizontal-divider{
  height:3rem;
  text-align: center;
  background-color: rgba(53, 51, 51, 0.3);
  backdrop-filter: grayscale(.5) blur(5px);
  color:  black;
}
.bg-2{
  background-image: url('../../images/gear_sets/gear_set_up_3.jpg');
}
.landing-inner-box{
  background-color:  white;
  height: 100px;
  width: 100px;
}

 @media (max-width: 375px){
  .horizontal-divider{
    width:97.9%
  }
} 
 */

.img{
  position:fixed;
  top:0;
  height: calc(100%);
  width:100%;
  object-fit: none;
  object-position: 57% 79%;
}

.text{
  color: white;
  height:200vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.text-2{
  color:white;
  height: 100vh;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  margin-bottom: -2px;
}
.hori-break{
  background-color: black;
  height:20vh;
}

.img-2{
  position: sticky;
  
  z-index: 1;
  height: 150vh;
  width: 100%;
  object-fit: none;
}
.product-cards{
  position:absolute;
  top:15%;
  z-index: 2;
  transform: translateY(-5%)
}

.card-img{
  height:100px;
  width:100px;
}


 
 

@media (min-width: 576px) {  
 
}
 

@media (min-width: 768px) {  
 
}
 

@media (min-width: 992px) { 
 
}
 

@media (min-width: 1200px) {  
  .img{
    position:fixed;

    height: 100vh;
    width:100%;
    object-fit: fill;
  }
  
  .text{
    color: white;
    height:200vh;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  }
  
  .text-2{
    color:white;
    height: 100vh;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  }
  .hori-break{
    background-color: black;
    height:20vh;
  }
  
  .img-2{
    position: sticky;
    top:0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .product-cards{
    position:absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%, 0)
  }
}
 