.orders-main{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    ),
    url("../../images/page_bgs/mountain_bg.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.orders-title{
  color: white;
}
.order-date{
  color: white;
}
.order-details-btn{
  color:white;
  background-color: rgba(0, 0, 0, 0.85);
  border-color: rgba(49, 122, 159, 1);
  padding: .1rem !important;
  border-radius: .15rem !important;
}
.orders-table{
  margin-bottom: 0;
  background-color: white;
}
.row-image{
  height: 45px;
  width: 45px;
}
.horizontal-line{
  height: 4px;
  width: 100%;
  background-color: rgba(15, 111, 155, 0.74)
}