.carousel{
    height: 760px;
    width: 570px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  /* outline: black; */
  /* background-size: 100%, 100%; */
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: lightslategrey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: lightslategrey;
}