.product-list-main{
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
		),
		url("../../images/page_bgs/forest5_bg.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.opacity-layer{
	height: auto;
	width:100vw;
	background-color: rgba(0, 0, 0, 0.541);
	position: absolute;
	top:0;
	left: 0;
}
.products-title{
	color: wheat;
}
.preview-image{
	object-fit: cover;
	/* max-height: 190.5px;
	max-width: 190.5px; */
	background-size: contain;
	background-repeat: no-repeat; 
}
.remove-a-tag-style{
	color:black;
}
.remove-a-tag-style:hover{
	text-decoration: none;
}

.bring-to-front{
  z-index: 25;
}

.product-deck{
	/* background-image: url("../../images/gear_sets/gear_set_up_4.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat; */
}

/* when mobile is portrait */
@media screen and (orientation:landscape) and (min-height: 321
px){
	.product-deck{
		/* background-image: url("../../images/gear_sets/gear_set_up_4.jpg"); */
	}
	.img-size-restrict{
		max-height: 400px;
		max-width: 200px;
	}
}

@media screen and (orientation:landscape) and (max-height: 400px){
	.img-size-restrict{
		max-height: 400px;
		max-width: 200px;
	}
}



/* at small screen and up*/
@media (min-width: 576px){
	.img-size-restrict{
		/* max-height: 500px;
		max-width: 300px; */
	}
	.product-deck{
		/* background-image: url("../../images/gear_sets/gear_set_up_4.jpg"); */
	}
}

/* at medium screen and up*/
@media (min-width: 768px){
	.img-size-restrict{
		max-height: 500px;
		max-width: 300px;
	}
	.product-deck{
		/* background-image: url("../../images/gear_sets/gear_set_up_4.jpg"); */
	}
}

/* at large screen and up*/
@media (min-width: 992px){
	.img-size-restrict{
		max-height: 500px;
		max-width: 300px;
	}
	.product-deck{
		/* background-image: url("../../images/gear_sets/gear_set_up_4.jpg"); */
	}
}