.preview-image{
    /* object-fit: cover; */
    max-height: 190.5px;
    max-width: 190.5px;
    /* background-size: contain;
    background-repeat: no-repeat; */
}
.remove-a-tag-style{
    color:black;
}
.remove-a-tag-style:hover{
    text-decoration: none;
}
