.app{
  height:100vh;
  display:flex;
  background-color: aqua;
  flex-direction:column;
}
.header{
  flex: 0 1 auto;
  display:flex;
  background-color: red;
  height: 3.5rem;
  position:sticky;
  top:0;
}
.nav-link-1{
  padding: 1rem;
  border:1px black;
}
.body-content{
  flex: 1 0 auto;
  background-color: purple;
}
.take-space{
  height: 65vh;
  margin: 10px;
  background-color: yellow;
  align-content: center;
  text-align: center;
}
.footer{
  flex: 0 1 auto;
  top: calc(100vh-2.5rem);
  background-color: grey;
  height: 2.5rem;
}